#configuracionUsuarios{
    margin: 40px;
    border: 1px solid rgb(199, 199, 199);
    padding: 30px;
}

#configuracionUsuarios main{
    padding: 50px;
    border: 1px solid rgb(199, 199, 199);
}

#configuracionUsuarios main span{
    display: flex;
}

#configuracionUsuarios main span:first-child div{
    width: 50%;
}

#configuracionUsuarios main span:nth-child(2) div{
    width: 100%;
}

#configuracionUsuarios main span:nth-child(3) div{
    width: 50%;
}

#configuracionUsuarios main span:nth-child(4) div{
    width: 100%;
}

#configuracionUsuarios main span:nth-child(5) div{
    width: 100%;
}

#configuracionUsuarios main span div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#configuracionUsuarios main span div input{
    border-radius: 5px;
    border: 1px solid rgb(180, 180, 180);
    padding: 10px;
    color: rgb(121, 121, 121);
}

#configuracionUsuarios main form{
    margin: 10px;
}

#configuracionUsuarios main form button{
    color: rgb(255, 255, 255);
    padding: 5px;
}